# Remove this line first before doing anything
PLOX REMOVE THIS LINE=True

# Get these from https://my.telegram.org/
API_KEY =10200739
API_HASH =e9ddfdb4632dce60f04526d556312769

# Custom Default name for .alive
ALIVE_NAME =i am lagend

# Get this value by running python3 string_session.py locally
STRING_SESSION =1BVtsOMUBu0Cr05KQj-4zfSWa3Yyg39r6WhbBm30PBbZStuDk8Mx0iWlR_8_OBGAbjgSYt3xoLyDhT3AeZ96muP3zx9y4SbEYFx7u1Vboqg2oRpRGKAJtyGiiBP187pd76sIiRTRfZwlvPvkc19klR3uY4dZbwHtw792UzSUtuNqXr2pCDbFi9XMt2jxTShavtMnWK-dVNM3MCqQrXKB5tEmTtdMZX7b8_JjiLtFOClxWBvjBRKIj9X_QTXrqidi7H4PQDEviD-92duZEE7MfWIBCuSauHASNo0lNmMGEkivmC3UB2sH1_77IfsWHzVfVG5Mhpmq5uCeXvyUCGK5ddZSqJ9iRkIw=
# Set this to enable inline bot helper. get the token from @BotFather
BOT_TOKEN =5677639513:AAHj2mGftthAxOY3eZsgT0uypkQqUOKASKY
BOT_USERNAME =@n0meee_bot

# ChatID for the Log group
# Add a Hypen or a Negative Sign before ID
# This is a integer, Please don't use Strings
BOTLOG_CHATID =-1001300787749

# Your Database URL
# Example: 'postgres://userbot:userbot@localhost:5432/userbot'
DATABASE_URL =mongodb+srv://Botmanage:Aazidanv01@cluster0.lxy79.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# PM Auto-Ban Feature Switch
PM_AUTO_BAN =False
